<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table st-safe-src="rowCollection" st-table="displayed" class="table table-striped">
                <thead>
                <tr>
                    <th>instrument id</th>
                    <th>instrument type</th>
                    <th>document type</th>
                    <th>user</th>
                    <th>time</th>
                    <th>doc id</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in displayed">
                    <td>{{row.instrumentId}}</td>
                    <td>{{row.instrumentType}}</td>
                    <td>{{row.documentType}}</td>
                    <td>{{row.user}}</td>
                    <td>{{row.time | date :'medium'}}</td>
                    <td><a ng-href="{{row.docRequestId}}" ng-click="">{{row.docRequestId}}</a></td>
                </tr>
                </tbody>

                <tfoot>
                <tr>
                    <td colspan="6" class="text-center">
                        <div st-pagination="" st-items-by-page="15"></div>
                    </td>
                </tr>
                </tfoot>
            </table>


        </div>
    </div>
</div>