<div class="container">
  <div class="row">
    <div class="col-md-2"><input type="datetime"  ng-model="name" ></div>
    <div class="col-md-1"><button   >Fire</button></div>

    <div class="col-md-8    ">


      <table st-table="rowCollection" class="table table-striped">
        <thead>
        <tr>
          <th>instrument id</th>
          <th>instrument type</th>
          <th>document type</th>
          <th>user</th>
          <th>time</th>
          <th>doc id</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in rowCollection">
          <td>{{row.instrumentId}}</td>
          <td>{{row.instrumentType}}</td>
          <td>{{row.documentType}}</td>
          <td>{{row.user}}</td>
          <td>{{row.time | date :'medium'}}</td>
          <td><a ng-href="{{row.docRequestId}}">{{row.docRequestId}}</a></td>

        </tr>
        </tbody>
      </table>


    </div>
  </div>
</div>