<div class="container">
  <div class="row">
    <div class="col-md-2"><input type="datetime"  ng-model="name" ></div>
    <div class="col-md-1"><button   >Fire</button></div>

    <div class="col-md-8    ">


      <table st-table="rowCollection" class="table table-striped">
        <thead>
        <tr>
          <th>first name</th>
          <th>last name</th>
          <th>company</th>
          <th>birth date</th>
          <th>url</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in rowCollection">
          <td>{{row.firstName}}</td>
          <td>{{row.lastName}}</td>
          <td>{{row.company}}</td>
          <td>{{row.date}}</td>
          <td>{{row.url}}</td>

        </tr>
        </tbody>
      </table>


    </div>
  </div>
</div>